/* Create two variables to text color and background color */
$textcolor: #3D3D3D;
$backcolor: #6D6D6D;
body {
    color: $textcolor;
    background-color: $backcolor ; }
  
  p {
    color: $textcolor; }
  
  h2 {
    background-color: $backcolor; }